/****/
h1, p {
  font-family: Lato;
}
/** Custom styles fron code pen **/

body
{
  font-family: Lato;
}

span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.blog img{
    max-width: 100%;
}
.blog-head {
  margin-bottom: 70px;
  font-family: lato;
}

.blog-head h6{
  color: #555;
  position: relative;
  display: inline-block;  
}

.blog-head h6:after, .blog-head h6:before{
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background: #f05907;
  top: 50%;
}

.blog-head h6:after{
  right: 120%;
}

.blog-head h6:before{
  left: 120%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.blog{
  background-color: #f7f7f7;
  padding: 80px 0;
  min-height: 180vh;
}

.blog .item{
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.blog .item .more{
  position: absolute;
  right: 30px;
  bottom: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  color: #f05907;
  font-size: 19px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  transform: translate(0 , 100px);
  transition: all 0.3s ease-in-out;
}

.blog .item:hover .more{
  transform: translate(0 , 0)
}

.blog .item:hover .img img{
  transition: all 0.4s ease;
}

.blog .item:hover .img img{
  transform: rotate(-5deg) scale(1.2 , 1.2);
}

.blog .item .img{
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%, 0 75%);
}

.blog .item .info{
  padding: 30px;
  position: relative;
}

.blog .item .info .date{
  position: absolute;
  left: calc(50% - 25px);
  top: -54px;
  width: 50px;
  height: 50px;
  line-height: 20px;
  text-align: center;
  background-color: #f05907;
  color: #fff;
  padding: 5px;
  transform: rotate(45deg);
}

.blog .item .info .date span {
    transform: rotate(-45deg);
    display: inline-block;
}
.blog .item .info h5:hover{
  color: #f05907;
}

.blog .item .info .user{
  margin-top: 20px;
  color: #f05907;
}

.blog .item .info .user i{
  margin-right: 5px;
  font-size: 14px;
}

/* My modification**/

.date {
       margin-top: 13.35%;
}

div.info > a {
    padding-top: 22px;
}
div.blog-item-card
{
  padding:1%;
}

p.post-date {
	height: 10px;
	padding: 18px 0 14px 0;
  text-align: left;
  font-size: 15px;
  color: #999;
  font-family: Lato;
}